.categoryShow{
  padding-top: 120px;
  width: 100vw;
  height: 150vh;
  .title-box {
    color: #983737c4;
    margin: 0 auto;
    height: 10%;
    width: 60%;
    margin-top: 10px;
    border: #983737c4 3px solid;
    font-size: 35px;
    text-align: center;
    line-height: 210%;
    span {
      color: rgba(0, 0, 0, 0.783);
      font-weight: bold;
    }
  }
  .search-box {
    width: 95%;
    height: 85%;
    margin: 0 auto;
    border: #983737c4 3px solid;
    overflow: scroll;
    margin-top: 10px;
    .search__results--box{
      width: 95%;
      height: calc( 100% - 135px );
      margin: 0 auto;
      margin-top: 10px;
      overflow: scroll;
      .result {
        margin-top: 10px;
        height: 200px;
        width: 100%;
        border: #983737c4 3px solid;
        box-shadow: 5px 5px #333333a8;
        display: flex;
        &__image {
          margin: 20px ;
          &--box {
          }
        }
        &__text {
          &--title {
              margin-top: 5px;
              .title {
                text-decoration: none;
                font-size: 40px;
                font-family: 'arial unicode ms';
                color: rgb(0, 0, 0);
              }
          }
          &--main {
            // background-color: goldenrod;
            width: 100%;
            height: 100px;
            padding-right: 5px;
            .show_link-box {
              .show_link {
                text-decoration: none;
                font-size: 10px;
                color: #983737;
              }
            }
          }
          &--date {
            margin-left: 300px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
